CODER_ACCESS_URL=https://{{ coder_domain }}
CODER_HTTP_ADDRESS={{ coder_http_address }}
CODER_TLS_ENABLE=false
CODER_REDIRECT_TO_ACCESS_URL=true
CODER_PG_CONNECTION_URL=postgresql://{{ postgres_user }}:{{ postgres_password | urlencode }}@127.0.0.1:{{ postgres_port }}/{{ postgres_database }}?sslmode=disable
