#!/usr/bin/env bash

# -----------------------------------------------------------------------------
# Dotfiles
# -----------------------------------------------------------------------------

${dotfiles_script}

# -----------------------------------------------------------------------------
# Secrets
# -----------------------------------------------------------------------------

${secrets_script}

# -----------------------------------------------------------------------------
# Project repositories
# -----------------------------------------------------------------------------

export REPOSITORIES_JSON="$(
  printf '%s' '${repositories_json_b64}' | base64 --decode
)"

${bootstrap_repos_script}

# -----------------------------------------------------------------------------
# AI tooling
# -----------------------------------------------------------------------------

${ai_tools_script}

