#!/usr/bin/env bash

# -----------------------------------------------------------------------------
# Dotfiles
# -----------------------------------------------------------------------------

${dotfiles_script}

# -----------------------------------------------------------------------------
# Secrets
# -----------------------------------------------------------------------------

${secrets_script}

# -----------------------------------------------------------------------------
# AI tooling
# -----------------------------------------------------------------------------

${ai_tools_script}

# -----------------------------------------------------------------------------
# Project repositories
# -----------------------------------------------------------------------------
export REPOSITORIES_JSON=${repositories_json}
