#!/usr/bin/env bash

# -----------------------------------------------------------------------------
# Dotfiles
# -----------------------------------------------------------------------------

${dotfiles_script}

# -----------------------------------------------------------------------------
# AI tooling
# -----------------------------------------------------------------------------

${ai_tools_script}
